

#homeBody{
    background-image: URL(https://codefellows.github.io/code-201-guide/curriculum/class-06/lab/assets/salmon.png);
    color: whitesmoke;
}

tr:hover {border: chartreuse;}
th {
    background-color: #4CAF50;
    color: white;
    width:75px;
    align-content: center;
  }
  td{
      align-content: center;
      width:50px;
  }
  table{
    background-color: crimson;
    margin:25px;
}