
header{
    margin: 25px;
}
li{
    display: inline;
    margin:150px;
}
main{
    background-image: URL(https://codefellows.github.io/code-201-guide/curriculum/class-06/lab/assets/salmon.png);
    color: whitesmoke;
    height: 1150px;
}
h1{
    text-align: center;
    color:rebeccapurple;
}
mark{
    font-family: "Sofia", sans-serif;
}
tr:hover {border: chartreuse;}
th {
    background-color: #824caf;
    color: white;
    width:75px;
    align-content: center;
  }
  td{
      align-content: center;
      width:50px;
  }
  table{
    background-color: rgb(187, 20, 220);
    margin:25px;
    width:500px;
}
fieldset{
    color:crimson;
    border:chocolate;
    border-radius: 15px;
}
td{
    border:hotpink 5px solid;
}
th{
    border:hotpink 5px solid;

   
}